@font-face {
	font-family: custom-icons;
	src: url(../fonts/custom-icons.eot?1693811512540);
	src: url(../fonts/custom-icons.eot?#iefix-1693811512540) format("embedded-opentype"), url(../fonts/custom-icons.woff2?1693811512540) format("woff2"), url(../fonts/custom-icons.woff?1693811512540) format("woff"), url(../fonts/custom-icons.ttf?1693811512540) format("truetype");
	font-weight: 400;
	font-style: normal
}

[class*=" icon-"]:before, [class^=icon-]:before {
	font-family: custom-icons;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-arrow-down:before {
	content: "\ea01"
}

.icon-facebook:before {
	content: "\ea02"
}

.icon-instagram:before {
	content: "\ea03"
}

.icon-telegram:before {
	content: "\ea04"
}

.icon-website:before {
	content: "\ea05"
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
	max-width: 100vw
}

*, :after, :before {
	box-sizing: inherit
}

img {
	box-sizing: content-box
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

* {
	outline: 0 none
}

body {
	line-height: 1.2;
	color: #fff;
	font-family: Montserrat, sans-serif;
	min-height: 100vh;
	overflow-x: hidden;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	background: linear-gradient(135deg, #991c13, #ff2e1f)
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

header {
	padding: 10px 0;
	border-bottom: 1px solid #fff
}

header .soc {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 15px;
	margin-right: 36px
}

header .soc li:hover:before {
	color: #f6e81f
}

header .soc li {
	position: relative
}

header .soc li a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

header .soc li:before {
	font-size: 20px;
	transition: all .3s ease
}

header .language {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	gap: 5px;
	position: relative;
	padding: 10px 0;
	font-size: 15px;
	font-weight: 500;
	font-family: Montserrat, sans-serif
}

header .language img {
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	border-radius: 50%
}

header .language ul {
	top: 100%;
	position: absolute;
	background: #f1f1f1;
	padding: 10px;
	border-radius: 4px;
	left: 50%;
	transform: translateX(-50%)
}

header .language ul li {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 5px;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	font-size: 15px;
	font-weight: 500;
	font-family: Montserrat, sans-serif
}

header .language ul:before {
	content: "";
	border: 5px solid transparent;
	border-bottom: 5px solid #f1f1f1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%)
}

header .logo {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	gap: 30px
}

header .logo img {
	transition: all .3s ease
}

header .logo img:hover {
	opacity: .6
}

header a {
	display: -ms-flexbox;
	display: flex
}

.wpml-ls-legacy-dropdown {
	width: auto;
	max-width: inherit
}

.wpml-ls-legacy-dropdown .wpml-ls-flag + span {
	width: 20px;
	display: inline-block;
	overflow: hidden
}

.wpml-ls-legacy-dropdown a {
	background-color: transparent !important;
	border: none !important;
	color: #fff !important
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle {
	padding-left: 0 !important
}

.wpml-ls-legacy-dropdown img {
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	border-radius: 50%
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
	top: 100%;
	position: absolute;
	background: #f1f1f1;
	padding: 10px;
	border-radius: 4px;
	left: 50%;
	transform: translateX(-50%);
	min-width: -webkit-fit-content;
	min-width: -moz-fit-content;
	min-width: fit-content
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-link {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	gap: 5px;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	font-size: 15px;
	font-weight: 500;
	font-family: Montserrat, sans-serif;
	padding: 0 !important
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-link span {
	color: #000 !important
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu:before {
	content: "";
	border: 5px solid transparent;
	border-bottom: 5px solid #f1f1f1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100%)
}

.tabs {
	padding: 40px;
	border-radius: 30px;
	background: #fff;
	margin-bottom: 60px;
	margin-top: 120px;
	position: relative
}

.tabs .button.back {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: 500;
	color: #d9d9d9;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
	text-decoration: none;
	height: auto
}

.tabs .button:not(.back) {
	width: calc((100% - 60px) / 3);
	margin-left: auto;
	border-radius: 15px;
	background: #f6e81f;
	border: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #000;
	text-decoration: none
}

.tabs input[type=email]:-moz-placeholder, .tabs input[type=tel]:-moz-placeholder, .tabs input[type=text]:-moz-placeholder {
	color: #999;
	opacity: 1
}

.tabs input[type=email]:-ms-input-placehol, .tabs input[type=tel]:-ms-input-placehol, .tabs input[type=text]:-ms-input-placehol {
	color: #999;
	opacity: 1
}

.tabs input[type=email]::-moz-placeholder, .tabs input[type=tel]::-moz-placeholder, .tabs input[type=text]::-moz-placeholder {
	color: #999;
	opacity: 1
}

.tabs .input.min {
	width: calc((100% - 60px) / 3)
}

.tabs .input:not(.fw):not(.min) {
	width: calc((100% - 15px) / 1.5)
}

.tabs .tab:last-of-type {
	padding-top: 100px
}

.tabs .tab:last-of-type.active {
	gap: 5px
}

.tabs .tab:last-of-type h2 {
	margin-bottom: 0
}

.tabs .tab:last-of-type p {
	width: 100%;
	text-align: center;
	color: #000;
	margin-bottom: 140px
}

.tabs .tab {
	display: none
}

.tabs .tab.active {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 30px
}

.tabs h2 {
	color: #000;
	font-size: 30px;
	margin-bottom: 10px;
	font-family: Montserrat, sans-serif
}

.tabs h2, .tabs h3.price {
	text-align: center;
	font-weight: 700;
	width: 100%
}

.tabs h3.price {
	color: #d9d9d9;
	font-size: 100px
}

.tabs h3.price + p {
	font-size: 20px;
	font-weight: 500;
	color: #000;
	text-align: center;
	width: 100%;
	margin-bottom: 20px
}

.tabs form {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 30px
}

.tabs .input.fw {
	width: 100%
}

.tabs input[type=email], .tabs input[type=tel], .tabs input[type=text] {
	height: 60px;
	border-radius: 15px;
	border: 2px solid #d9d9d9;
	padding: 0 20px;
	width: 100%;
	font-size: 20px;
	font-weight: 500
}

.tabs input[type=email]::-webkit-input-placeholder, .tabs input[type=tel]::-webkit-input-placeholder, .tabs input[type=text]::-webkit-input-placeholder {
	color: #999;
	opacity: 1
}

.tabs .select {
	width: calc((100% - 60px) / 3)
}

.tabs .select + .input {
	width: calc((100% - 60px) / 3) !important
}

.tabs .dfr {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	-ms-flex-align: center;
	align-items: center
}

.tabs .dfr.center {
	-ms-flex-pack: center;
	justify-content: center;
	gap: 40px
}

.tabs .dfr.center .button {
	margin-left: 0
}

.tabs .button {
	height: 60px;
	font-size: 20px;
	cursor: pointer;
	font-weight: 500;
	font-family: Montserrat, sans-serif;
	transition: all .3s ease
}

.tabs .button:hover {
	opacity: .7
}

.tabs input[type=reset] {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: 500;
	color: #d9d9d9;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
	height: auto
}

.tabs .select2 {
	width: 100% !important
}

.tabs .select2 .select2-selection {
	height: 60px;
	border-radius: 15px;
	border: 2px solid #d9d9d9
}

.tabs .select2 .select2-selection__rendered {
	line-height: 58px;
	font-size: 20px;
	font-weight: 500;
	padding: 0 38px 0 20px;
	color: #000;
	font-family: Montserrat, sans-serif
}

.tabs .select2 .select2-selection__arrow {
	height: 58px;
	width: 58px;
	position: absolute
}

.tabs .select2 .select2-selection__arrow b {
	display: none
}

.tabs .select2 .select2-selection__arrow:before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #d9d9d9;
	border-right: 2px solid #d9d9d9;
	transform: rotate(45deg) translate(-50%, -50%);
	top: 50%;
	left: 50%
}

.tabs:before {
	content: "";
	position: absolute;
	background-image: url(../img/circle.png);
	left: 300px;
	width: 1240px;
	height: 1159px;
	border-radius: 50%;
	bottom: -100px;
	pointer-events: none;
	z-index: -1
}

section .icon-arrow-down:before {
	color: #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #f6e81f
}

section .row {
	position: relative
}

section .car {
	position: absolute;
	bottom: 0;
	right: 12px;
	transition: all .2s linear
}

section h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 120px;
	font-family: Montserrat, sans-serif
}

section h1 strong {
	color: #f6e81f;
	display: block
}

section p {
	font-size: 20px;
	font-weight: 500;
	line-height: 150%;
	width: 260px
}

section .icon-arrow-down, section p {
	color: #fff;
	font-family: Montserrat, sans-serif
}

section .icon-arrow-down {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
	margin-top: 180px;
	text-decoration: none;
	transition: all .3s ease
}

section .icon-arrow-down:hover {
	opacity: .7
}

.select2-results__option {
	color: #000;
	font-family: Montserrat, sans-serif
}

footer {
	margin-top: auto;
	padding: 30px 0;
	background: #000
}

footer .copyright {
	max-width: 590px;
	color: #86868b;
	font-size: 13px;
	font-weight: 500;
	line-height: 150%;
	position: relative;
	padding-right: 30px;
	font-family: Montserrat, sans-serif
}

footer .copyright a {
	color: #86868b;
	transition: all .3s ease
}

footer .copyright a:hover {
	color: #f6e81f
}

footer .copyright:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	background: #86868b
}

footer .logo {
	margin-left: 6px;
	transition: all .3s ease
}

footer .logo:hover {
	opacity: .6
}

footer .soc {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 15px;
	-ms-flex-pack: end;
	justify-content: flex-end
}

footer .soc li:hover:before {
	color: #f6e81f
}

footer .soc li {
	position: relative
}

footer .soc li a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

footer .soc li:before {
	font-size: 20px;
	color: #86868b;
	transition: all .3s ease
}

@media only screen and (max-width: 1399px) {
	section .car {
		height: 370px;
		width: 720px;
		-o-object-fit: contain;
		object-fit: contain;
		-o-object-position: right;
		object-position: right;
		bottom: -50px
	}
}

@media only screen and (max-width: 1199px) {
	section .car {
		width: 80%;
		height: 380px
	}
}

@media only screen and (min-width: 1025px) {
	header .language {
		cursor: pointer
	}

	header .language ul {
		display: none
	}

	header .language:hover ul {
		display: block
	}
}

@media only screen and (max-width: 1024px) {
	.container {
		max-width: 100%;
		padding-left: calc(var(--bs-gutter-x) * 1);
		padding-right: calc(var(--bs-gutter-x) * 1)
	}

	.car {
		margin-right: -125px
	}

	.tabs {
		margin-top: 60px
	}
}

@media only screen and (max-width: 991px) {
	footer .row {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 2fr 1fr;
		grid-template-columns:2fr 1fr;
		grid-template-rows:repeat(2, 1fr);
		grid-column-gap: 0;
		grid-row-gap: 0
	}

	footer .row .col-auto:last-of-type, footer .row .col-auto:nth-of-type(2) {
		grid-area: 1/2/2/3
	}

	footer .row .col-auto:first-of-type {
		grid-area: 1/1/3/2
	}

	footer .logo {
		margin-left: auto;
		display: table
	}
}

@media only screen and (max-width: 767px) {
	header .col-auto:nth-of-type(2) {
		display: none
	}

	section h1 {
		font-size: 6.266vw;
		margin: 12.5vw 0 3.125vw
	}

	section p {
		font-size: 3.125vw
	}

	section p br {
		display: none
	}

	section .car {
		width: 120vw;
		bottom: 40px;
		height: 65.189vw;
		-o-object-position: center;
		object-position: center;
		margin-right: -34.722vw
	}

	section .icon-arrow-down {
		margin-top: 62.581vw
	}

	.tabs {
		padding: 25px
	}

	.tabs .button, .tabs .select2 .select2-selection__rendered, .tabs input[type=email], .tabs input[type=reset], .tabs input[type=tel], .tabs input[type=text] {
		font-size: 15px
	}

	.tabs .tab {
		gap: 20px
	}

	.tabs h2 {
		font-size: 6.266vw
	}

	.tabs h2 br {
		display: none
	}

	.tabs form {
		gap: 20px
	}

	.tabs h3.price {
		font-size: 60px
	}

	.tabs h3.price + p br {
		display: none
	}

	.tabs .input.min, .tabs .input:not(.fw):not(.min) {
		width: 100%
	}

	.tabs .button:not(.back), .tabs .select {
		width: calc((100% - 20px) / 2)
	}

	.tabs .select + .input {
		width: calc((100% - 20px) / 2) !important
	}
}

@media only screen and (max-width: 599px) {
	.tabs .button:not(.back), .tabs .select {
		width: 100%
	}

	.tabs .select + .input {
		width: 100% !important
	}

	.tabs .button.back {
		-ms-flex-order: 1;
		order: 1;
		margin: -15px auto 10px !important
	}

	.tabs input[type=reset] {
		-ms-flex-order: 1;
		order: 1;
		margin: 15px auto 0
	}
}

@media only screen and (max-width: 539px) {
	footer .row {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
		gap: 20px
	}

	footer .soc {
		-ms-flex-pack: center;
		justify-content: center
	}
}

@media only screen and (max-width: 479px) {
	.container {
		padding-left: calc(var(--bs-gutter-x) * .5);
		padding-right: calc(var(--bs-gutter-x) * .5)
	}

	.tabs {
		padding-left: 12px;
		padding-right: 12px
	}

	.tabs h3.price {
		line-height: 1;
		font-size: 12.552vw
	}

	header .logo {
		gap: 15px
	}

	header .logo img {
		height: 14px
	}
}
